<h1>Transfer</h1>
<input type="number" placeholder="From Account " />

<input type="number" placeholder="To Account "/>

<button class="btn btn-primary">Transfer</button>
<button class="btn btn-danger">Clear</button>


