<h1> About Us page</h1>

<div>
    <p>
        About Us is a novel by the American writer Chester Aaron set in 1930s Pittsburgh, Pennsylvania.[1]

It tells the story of the Kahns, a Jewish family who run a small general store in the fictional village of Sundown, a coal patch in Butler County, Pennsylvania outside of Pittsburgh. The protagonist is Benny Kahn, age eight when the novel begins, and his coming-of-age is sketched against the backdrop of the events of Great Depression through World War II.

References
Demarest, David P. (1976). From These Hills, From These Valleys: Selected Fiction about Western Pennsylvania. Pittsburgh: University of Pittsburgh Press. ISBN 978-0-8229-1123-4.
 Lillard, Richard G. Portrait of an Adolescent America, Los Angeles Times, 16 July 1967

Stub icon	
This article about a 1960s novel is a stub. You can help Wikipedia by expanding it.

See guidelines for writing about novels. Further suggestions might be found on the article's talk page.


    </p>
</div>