body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #860f0f;
}
h2{
    color: #333;
    background-color: aquamarine;
}
button {
    background-color: #036e0c;
    color: #861a78;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}